/mvnw linguist-vendored
/mvnw.cmd linguist-vendored
.mvn/** linguist-vendored
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
*.java linguist-detectable=true
